@import '~antd/dist/antd.css';
/* For Mobile Portrait */
@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
  }
  .box-center {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-panel {
    min-width: 250px;
  }
  .box-body {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
  }
  .box-input {
    padding-left: 2px;
    padding-right: 2px;
  }
  .box-line {
    height: 5px;
  }
  .box-seat {
    background-color: red;
  }
}

/* For Desktop */
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
  }
}